#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  z-index: 10;
}

.navbar-right {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  font-family: "Josefin Sans", sans-serif;
}

.navbar-left {
  padding: 0.5rem;
  display: flex;
  justify-content: flex-start;
  font-family: "Josefin Sans", sans-serif;
}

.navbar-item {
  margin-left: 0.75rem;
  padding: 0.5rem 0.75rem;
  font-size: 1.75rem;
  cursor: pointer;
}

.navbar-item a {
  padding: 0.75rem 1.25rem;
  text-decoration: none;
  margin-right: 1.25rem;
  font-size: 1.2rem;
  border: none;
  border-color: transparent;
  border-radius: 1rem;
  background-color: #e08292;
  color: white;
}

.social-icons {
    margin-right: 1rem;
    padding-bottom: 0.5rem;
}
